@import '../../../styles/global.scss';

.authLayout-wrapper {
  @include xs {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 10px;
  }

  @include sm {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
  }

  @include md {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 38px;
  }

  @include lg {
    padding-left: 102px;
    padding-right: 102px;
    padding-top: 42px;
  }

  @include xl {
    padding-left: 135px;
    padding-right: 135px;
    padding-top: 48px;
  }
}
