/* Storng Teal Varients */
$rumi-primary-teal: #0A8289;
$rumi-teal75: #48a1a5;
$rumi-teal50: #85c0c3;
$rumi-teal25: #c2dfe1;
$rumi-teal10: #e3f2f3;
$rumi-teal05: #f3f8f9;

/* Rejuvenating Teal */
$rumi-secondary-teal: #005B65;
$rumi-rej50: #7eadb2;
$rumi-rej10: #e4eeef;

/* Warm Peach */
$rumi-peach: #ff9d6e;
$rumi-peach50: #ffcdb6;
$rumi-peach10: #fff5f0;

/* Neutrals */
$rumi-black: #202020;
$rumi-dark-grey: #545454;
$rumi-grey: #808284;
$rumi-light-grey: #a7a9ac;
$rumi-lighter-grey: #d1d3d4;
$rumi-off-white: #f5f5f4;

$white: #FFFFFF;
/* Rounder Button color */
$button-round-color: #FF2B67;
