/* rumi fonts - Baloo_Tammudu and Montserrat */

@font-face{
    font-family: Baloo-Bold;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-Bold.ttf");
}
@font-face{
    font-family: Baloo-ExtraBold;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-ExtraBold.ttf");
}

@font-face{
    font-family: Baloo-Medium;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-Medium.ttf");
}

@font-face{
    font-family: Baloo-Tammadu-2;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-Regular.ttf");
}

@font-face{
    font-family: Baloo-Regular;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-Regular.ttf");
}

@font-face{
    font-family: Baloo-SemiBold;
    font-display: swap;
    src:url("fonts/baloo-tammudu/BalooTammudu2-SemiBold.ttf");
}

@font-face{
    font-family: Moss-Black;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-Black.ttf");
}

@font-face{
    font-family: Moss-Black-Italic;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-BlackItalic.ttf");
}

@font-face{
    font-family: Moss-Bold;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-Bold.ttf");
}

@font-face{
    font-family: Moss-Bold-Italic;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-BoldItalic.ttf");
}

@font-face{
    font-family: Moss-Italic;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-Italic.ttf");
}

@font-face{
    font-family: Montserrat;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face{
    font-family: Moss-Medium;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face{
    font-family: Moss-SemiBold;
    font-display: swap;
    src:url("fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face{
    font-family: Manrope-Bold;
    font-display: swap;
    src:url("fonts/manrope/manrope-bold.otf");
}
@font-face{
    font-family: Manrope-SemiBold;
    font-display: swap;
    src:url("fonts/manrope/manrope-semibold.otf");
}
@font-face{
    font-family: Manrope-Thin;
    font-display: swap;
    src:url("fonts/manrope/manrope-thin.otf");
}
@font-face{
    font-family: Manrope-Regular;
    font-display: swap;
    src:url("fonts/manrope/manrope-regular.otf");
}
@font-face{
    font-family: Manrope-Medium;
    font-display: swap;
    src:url("fonts/manrope/manrope-medium.otf");
}
@font-face{
    font-family: Manrope-Light;
    font-display: swap;
    src:url("fonts/manrope/manrope-light.otf");
}
@font-face{
    font-family: Manrope-ExtraBold;
    font-display: swap;
    src:url("fonts/manrope/manrope-extrabold.otf");
}

@font-face{
    font-family: CodecPro-Bold;
    font-display: swap;
    src:url("fonts/codecpro/CodecPro-Bold.ttf");
}
@font-face{
    font-family: CodecPro-Light;
    font-display: swap;
    src:url("fonts/codecpro/CodecPro-Light.ttf");
}