
/* Neutral and Alert Colors */
$black: #000000;
$dark-grey: #32434e;
$medium-grey: #989898;
$light-grey: #ededed;
$soft-white: #f6f6f6;
$white: #ffffff;
$alert-red: #ff334c;
$alert-accessible-red: #a81520;
$alert-green: #01ae36;
$alert-orange: #ec9f26;
$focus-grey: #222222;

