  .imageContainerX {
    width: 400px;  
    height: 150px;  
    border: 1px solid #0A8289;  
    background-color: grey;  
    object-fit: none;  
    object-position: center top;  
    }

    .imageContainerMd {
      width: 200px;  
      height: 50px;  
      border: 1px solid #0A8289;  
      background-color: grey;  
      object-fit: none;  
      object-position: center top;  
      }

    
